.nevbar{
    
     align-items: center;
    height: 100px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    
}

.nevbtn {
    background:transparent;
    border: none;
    border-radius: 1rem;
    color: gray;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
  
  }
  
  .nevbtn:hover {
    color: white;
    transition: 500ms ease;
  }
  .one:active{
    transform: translate(2.5px,2.2px);
    transition: 100ms;
  }.two:active{
    transform: translate(2.5px,2.2px);
    transition: 100ms;
  }.three:active{
    transform: translate(2.5px,2.2px);
    transition: 100ms;
  }.four:active{
    transform: translate(2.5px,2.2px);
    transition: 100ms;
  }.five:active{
    transform: translate(2.5px,2.2px);
    transition: 100ms;
  }  

  .activatedOption{
    color: white;
  }